<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>projetV2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logAdmin</display-name>
    <servlet-name>logAdmin</servlet-name>
    <servlet-class>com.enit.servlet.logAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logAdmin</servlet-name>
    <url-pattern>/logAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogEtud</display-name>
    <servlet-name>LogEtud</servlet-name>
    <servlet-class>com.enit.servlet.LogEtud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogEtud</servlet-name>
    <url-pattern>/LogEtud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutAdministrateur</display-name>
    <servlet-name>AjoutAdministrateur</servlet-name>
    <servlet-class>com.enit.servlet.AjoutAdministrateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutAdministrateur</servlet-name>
    <url-pattern>/AjoutAdministrateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherEtud</display-name>
    <servlet-name>AfficherEtud</servlet-name>
    <servlet-class>com.enit.servlet.AfficherEtud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherEtud</servlet-name>
    <url-pattern>/AfficherEtud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherRec</display-name>
    <servlet-name>AfficherRec</servlet-name>
    <servlet-class>com.enit.servlet.AfficherRec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherRec</servlet-name>
    <url-pattern>/AfficherRec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Activer</display-name>
    <servlet-name>Activer</servlet-name>
    <servlet-class>com.enit.servlet.Activer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activer</servlet-name>
    <url-pattern>/Activer</url-pattern>
  </servlet-mapping>
</web-app>